#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #1a1a1a, #333);
    color: white;
    padding: 50px 70px;
    border-radius: 10px;
    max-width: 1300px;
    margin: 50px auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.carousel {
    width: 450px;
    height: auto;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.carousel-images {
    display: flex;
    width: 200%;
    animation: slide 13s infinite;
}

.carousel-images img {
    width: 100%;
    height: 600px;
    object-fit: contain;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    16.66% { transform: translateX(-35%); }
    50% { transform: translateX(-85%); }
    66.66% { transform: translateX(-110%); }
    83.33% { transform: translateX(-150%); }
    100% { transform: translateX(-200%); }
}

.home-text {
    max-width: 600px;
    padding-left: 50px;
}

.home-text h2 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 15px;
}

.home-text p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background: #666;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 30px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background: #888;
    transform: translateY(-3px);
}


#about {
    display: flex;
    justify-content: left;
    background-image: url('img/polot.jpeg');
    background-size: cover;
    background-position: center;
    align-items: center;
    min-height: 60vh;
    color: white;
    text-align: left;
    padding: 50px 150px;
}

.carousel {
    max-width: 800px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease-in-out;
}

.carousel:hover {
    transform: scale(1.02);
}

.carousel p {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
}


.services {
    padding: 40px;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
}

.services h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.service, .service-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service h3, .service-item h3 {
    font-size: 24px;
    color: #444;
    margin-bottom: 10px;
}

.service ul {
    list-style-type: none;
    padding: 0;
}

.service ul li {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}


.service h3 {
    font-size: 22px;
}

.service-item h3 {
    font-size: 22px;
    color: #0056b3;
}

.service-item ul li {
    color: #333;
    font-size: 16px;
}

.services {
    padding: 40px;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
}

.services h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.service, .service-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service h3, .service-item h3 {
    font-size: 24px;
    color: #444;
    margin-bottom: 10px;
}

.service ul {
    list-style-type: none;
    padding: 0;
}

.service ul li {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}

.services h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    position: relative;
    font-family: 'Arial Black', sans-serif;
    padding: 5px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.services h2::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 5px;
    background-color: #490808;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.service-item ul li {
    color: #333;
    font-size: 16px;
}

.service-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 15px;
}

.service-images img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.service, .service-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

.service:hover, .service-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Підсвічуємо картку */
}

#portfolio {
    background: linear-gradient(135deg, #1a1a1a, #333);
    color: white;
    padding: 30px 25px;
    border-radius: 10px;
    max-width: 1300px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#portfoli {
    background: linear-gradient(135deg, #370707, #333);
    color: white;
    padding: 30px 25px;
    margin-top: 20px;
    border-radius: 10px;
    max-width: 1300px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.portfolio-section {
    padding: 40px 110px;
    text-align: center;
}

.portfolio-section h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    position: relative;
    font-family: 'Arial Black', sans-serif;
    padding: 5px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 100%;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 250px;
}
.portfolio-section h2{
    text-align: left;
    padding: 25px;
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}


#info {
    background: linear-gradient(135deg, #1a1a1a, #333);
    color: white;
    padding: 50px 70px;
    border-radius: 10px;
    max-width: 1300px;
    margin: 50px auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#info h2 {
    font-size: 26px;
    font-weight: bold;
}

#info p {
    font-size: 16px;
}

#info img {
    width: 400px;
    height: auto;
    border-radius: 8px;
    align-content: flex-start;
}

#contact-form {
    background: linear-gradient(135deg, #1a1a1a, #333);
    color: white;
    padding: 50px 100px;
    border-radius: 10px;
    max-width: 1300px;
    margin: 75px auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.contact-form h2 {
    color: white;
    margin-bottom: 15px;
}

.form-inline {
    display: flex;
    flex-wrap: nowrap; /* Забороняє перенос елементів */
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.form-group label {
    margin-bottom: 0;
    text-align: right;
    min-width: 80px;
}

.form-inline input,
.form-inline textarea {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: 0.3s;
}

.form-inline input:focus,
.form-inline textarea:focus {
    border-color: #353535;
    outline: none;
    box-shadow: 0 0 5px rgb(53, 53, 53);
}

.form-inline textarea {
    min-height: 100px;
    margin-top: 70px;
    resize: vertical;
}

button {
    padding: 12px 20px;
    border: none;
    background-color: #353535;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 15px;
}

button:hover {
    background-color: #401010;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .form-inline {
        flex-direction: column;
        gap: 10px;
    }

    .form-inline input,
    .form-inline textarea {
        width: 100%;
        max-width: 100%;
    }

    button {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    #home, #info, #portfolio, #portfoli {
        padding: 40px 50px;
    }
    .home-text {
        padding-left: 30px;
    }
    .carousel {
        width: 350px;
    }
}

@media screen and (max-width: 992px) {
    #home {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 40px;
    }
    .home-text {
        padding-left: 0;
    }
    .carousel {
        width: 100%;
        max-width: 500px;
    }
    #about {
        padding: 40px 50px;
        text-align: center;
        flex-direction: column;
    }
    .portfolio-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .service-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    #about, .services, .portfolio-section {
        padding: 30px;
    }
    .carousel-images img {
        height: 400px;
    }
}

@media screen and (max-width: 576px) {
    .portfolio-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .carousel {
        width: 100%;
    }
    .carousel-images img {
        height: 300px;
    }
    .service-list {
        grid-template-columns: repeat(1, 1fr);
    }
    #home, #info, #portfolio, #portfoli {
        padding: 20px;
    }
    .contact-form {
        width: 90%;
        padding: 15px;
    }
    .contact-form button {
        font-size: 14px;
    }
}



